[Unit]
Description=CAN Hat FD Setup Service
After=network.target

[Service]
Type=oneshot
ExecStart=/opt/can_tools/enable_canhat_fd.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
