[Unit]
Description=Rename 2-CH CAN HAT+ interfaces to match physical labels
Wants=sys-subsystem-net-devices-can0.device sys-subsystem-net-devices-can1.device
After=sys-subsystem-net-devices-can0.device sys-subsystem-net-devices-can1.device
Before=canhat_plus_setup.service

[Service]
Type=oneshot
ExecStart=/opt/can_tools/canhat_plus_rename.bash
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
